

html {
  width: 100%;
  height: 100%;
  background-color: #66000D;
  font-family: 'Shadows Into Light','Open Sans Condensed', sans-serif;
  font-size: 1.5em;
}

body{
  line-height: 1.5em;
}
h1 , h2 {
  font-size: 1.5em;
}
#principal {
  background-color: #fff;
  padding-bottom:4em;
}

/*Start adding the game instruction styles*/
.blackOut {
  position: absolute;
  background-color: black;
  opacity: 0.9;
}

#MJinstructions {
  margin-left: -15px;
  width: 100%;
  height: 100%;
  z-index:1000;
  display:none;
  color:white;
}

#instructionsList {
margin-top:12.5em;
}

/*Need to make sure this elements stand out when instructions are displayed*/
.titleSection {
  z-index:1010;
  position: relative;
}
 #instructionsbutton {
    z-index:1090;
  position: relative;
}
/*Mode selection section*/
.styleSelectSection, .resultSection,.choicesSection {
  display:none;
}
/*This will contain the stryles for the Choices Section*/
.mainPlayer {
  margin:2em;
}
.btn-danger {
   font-size:1.5em;
}
.messagebox{
  margin:1em;
}
.subTitle{
  margin: 2em;
  color: #A60015;
  font-weight: 900;
  text-transform: uppercase;
}

/*Things used to format response, currently just for testign purposes*/

.tst {
  width:80%;
}
.response {
  margin-top:1em;
  /*font-size:1.5em;*/
}